.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img {
    width: 350;
    margin-top: 50px;
}

textoFrase {
    font-style: italic;
    color: #616161;
}